# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

bin/
.idea/
.dart_tool
Dart_Design_Patterns.iml
CHANGELOG.md
# Directory created by dartdoc
doc/api/
